<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!-- 基础数据配置数据库配置 -->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${base.jdbc.driverClassName}" />
		<property name="url" value="${base.jdbc.url}" />
		<property name="username" value="${base.jdbc.username}" />
		<property name="password" value="${base.jdbc.password}" />
		<property name="initialSize" value="${dataSource.initialSize}" />
		<property name="maxIdle" value="${dataSource.maxIdle}" />
		<property name="minIdle" value="${dataSource.minIdle}" />
		<property name="maxActive" value="${dataSource.maxActive}" />
		<property name="logAbandoned" value="${dataSource.logAbandoned}" />
		<property name="removeAbandoned" value="${dataSource.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${dataSource.removeAbandonedTimeout}" />
		<property name="maxWait" value="${dataSource.maxWait}" />
		<property name="testWhileIdle" value="${dataSource.testWhileIdle}" />
		<property name="testOnBorrow" value="${dataSource.testOnBorrow}" />
		<property name="validationQuery" value="${dataSource.validationQuery}" />
	</bean> -->
	
	<!-- 空间数据库配置，用于存储空间数据内容 -->
	<!-- <bean id="dataSourceSpatial" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${spatial.jdbc.driverClassName}" />
		<property name="url" value="${spatial.jdbc.url}" />
		<property name="username" value="${spatial.jdbc.username}" />
		<property name="password" value="${spatial.jdbc.password}" />
		<property name="initialSize" value="${dataSource.initialSize}" />
		<property name="maxIdle" value="${dataSource.maxIdle}" />
		<property name="minIdle" value="${dataSource.minIdle}" />
		<property name="maxActive" value="${dataSource.maxActive}" />
		<property name="logAbandoned" value="${dataSource.logAbandoned}" />
		<property name="removeAbandoned" value="${dataSource.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${dataSource.removeAbandonedTimeout}" />
		<property name="maxWait" value="${dataSource.maxWait}" />
		<property name="testWhileIdle" value="${dataSource.testWhileIdle}" />
		<property name="testOnBorrow" value="${dataSource.testOnBorrow}" />
		<property name="validationQuery" value="${dataSource.validationQuery}" />
	</bean> -->
	
	<!-- 动态数据库，用于存储动态交通数据 -->
	<!-- <bean id="dataSourceActivity" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${activity.jdbc.driverClassName}" />
		<property name="url" value="${activity.jdbc.url}" />
		<property name="username" value="${activity.jdbc.username}" />
		<property name="password" value="${activity.jdbc.password}" />
		<property name="initialSize" value="${dataSource.initialSize}" />
		<property name="maxIdle" value="${dataSource.maxIdle}" />
		<property name="minIdle" value="${dataSource.minIdle}" />
		<property name="maxActive" value="${dataSource.maxActive}" />
		<property name="logAbandoned" value="${dataSource.logAbandoned}" />
		<property name="removeAbandoned" value="${dataSource.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${dataSource.removeAbandonedTimeout}" />
		<property name="maxWait" value="${dataSource.maxWait}" />
		<property name="testWhileIdle" value="${dataSource.testWhileIdle}" />
		<property name="testOnBorrow" value="${dataSource.testOnBorrow}" />
		<property name="validationQuery" value="${dataSource.validationQuery}" />
	</bean> -->


</beans>